@model BillettSysModel.BrukerModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Inlogging</title>
    </head>
<body> 
    <div class="container container-addon">        
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-horizontal">
                <div class="form-group">
                    @Html.LabelFor(model => model.Brukernavn, htmlAttributes: new { @class = "control-label col-md-2" })
                    @*<label class="control-label col-md-2">Brukernavn</label>*@
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Brukernavn, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Brukernavn, "", new { @class = "text-danger" })
                        @*<input class="form-control" />*@
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Passord, htmlAttributes: new { @class = "control-label col-md-2" })
                    @*<label class="control-label col-md-2">Passord</label>*@
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Passord, new { htmlAttributes = new { @class = "form-control", type="password" } })
                        @Html.ValidationMessageFor(model => model.Passord, "", new { @class = "text-danger" })
                        @*<input class="form-control" />*@
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-1">
                        <input type="submit" value="Logg inn" class="btn btn-primary" />
                     </div>
                    <div class="col-md-9">
                        <a class="btn btn-default btn-md" href="@Url.Action("Index", "Home")">Tilbake til hoved</a>
                    </div>
                 </div>
             </div>
        }
        </div>
</body>
</html>

