@model BillettSystem.Models.Reise
@{
    ViewBag.Title = "Betaling";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <script type="text/javascript">
        $(function () {

                var validator = $("#betalingsdetaljerForm").validate({
                    errorClass: "error-class",
                    errorElement: 'span'
                
                    //messages: messages,                    
                });

                $.ajax({
                url: '/Home/getPassasjerDetaljer',
                type: 'GET',
                dataType: 'json',
                success: function (valgtpassasjerer) {
                    var output = "";

                    for (var i in valgtpassasjerer) {
                        var passasjer = valgtpassasjerer[i];                        
                        var count = parseInt(i) + 1;
                        output +=
                            "<div class='col-md-12 col-xs-12 font-bold'>Passasjer " + count + "</div>" +
                            "<div class='row '>" +
                            "<div class='col-md-3 col-xs-4 text-right font-bold'>Navn:</div>" +
                            "<div class='col-md-9 col-xs-8'>" + passasjer.Name + " " + passasjer.EtterNavn + "</div>" +
                            "</div>";                            
                        if (passasjer.Epost != null) {
                            output +=
                                "<div class='row'> " +
                                "<div class='col-md-3 col-xs-4 text-right font-bold'>Epost:</div> " +
                                "<div class='col-md-9 col-xs-8' >" + passasjer.Epost + "</div> " +
                                "</div>";
                        }
                        output += 
                        "<div class='row'> "+
                            "<div class='col-md-3 col-xs-4 text-right font-bold'>Adresse:</div> "+
                            "<div class='col-md-9 col-xs-8' >" + passasjer.Adresse + "</div> "+
                            "</div>"+
                        "<div class='row' > "+
                            "<div class='col-md-3 col-xs-4 text-right font-bold'>Bagasje enheter:</div> "+
                            "<div class='col-md-9 col-xs-8'>" + passasjer.AntallBagasje + "</div> "+                            
                            "</div>" +
                            "<hr />";
                    }
                    output +=
                        "<div class='row' > " +
                            "<div class='col-md-12 col-xs-12 text-right' > " +
                                "<button id='endreDetaljer' type= 'button' class='btn btn-primary' >Endre Detaljer</button>" +
                            "</div>" + 
                        "</div>";

                    $("#passasjerdetaljer").empty().append(output);

                    $("#endreDetaljer").click(function () {
                        window.location = "/Home/ValgtFlyDetaljer";
                    });
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });

                $("#avbrytBtn").click(function () {
                    $.ajax({
                        url: '/Home/NullstilleSession',
                        type: 'POST',
                        data: {},
                        success: function () {
                            window.location = "/Home/Index";
                        },
                        error: function (x, y, z) {
                            alert(x + '\n' + y + '\n' + z);
                        }
                    });
                });

                $("#godkjentBetaling").click(function () {
                    if (!$('#betalingsdetaljerForm').valid()) {
                        return;
                    }
                    $.ajax({
                        
                        success: function () {
                            window.location = "/Home/GodkjentBetaling";
                        },
                        error: function (x, y, z) {
                            alert(x + '\n' + y + '\n' + z);
                        }
                    });
                });

                
            });
    </script>
</head>
<body>
    <div class="col-md-12 body-container">
        <div class=" container container-addon" id=" flypassasjerdetaljer">
                <div class='form-horizontal'>
                    <div class="font-22">Din bestilling:</div>
                    <hr />
                    @foreach (var item in Model.AlleFlyRuter)
                    {
                        <div class='form-group'>
                            <div class="col-md-2 col-xs-12 font-bold">@item.FlySelskap</div>
                            <div class="col-md-2 text-right col-xs-5 font-bold font-tid">@item.UtreiseTid</div>
                            <div class='col-md-1'></div>
                            <div class="col-md-7 col-xs-6 font-bold font-tid">@item.InnreiseTid</div>

                            <div class="col-md-4 text-right col-xs-5">@item.UtreiseDag</div>
                            <div class="col-md-1 col-xs-1"></div>
                            <div class="col-md-7 col-xs-6">@item.InnreiseDag</div>

                            <div class="col-md-4 text-right col-xs-5">@item.Fra</div>
                            <div class="col-md-1 col-xs-1"></div>
                            <div class="col-md-7 col-xs-6">@item.Til</div>
                        </div>
                    }

                    <div class=" row">
                        <div class=" col-md-12 text-right font-tid font-bold" id="TotalPris">Kr. @(Model.TotaltPris+Model.BagasjePris)</div>
                    </div>
                </div>
                <div class="form-horizontal" id="passasjerdetaljer"></div>
        </div>
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "betalingsdetaljerForm" }))
        {
            <div class=" container container-addon" id="betalingsdetaljer">
                <div class=" form-horizontal">
                    <div class="col-md-12 font-22">Betaling:</div>
                    <hr />
                    <div class=" form-group">
                        <label class="col-sm-3 control-label" for="card-holder-name">Navn på Korteier</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="card-holder-name" id="card-holder-name" placeholder="Navn som på kortet" required title="Oppgi navn som på kortet">
                        </div>
                    </div>
                    <div class=" form-group">
                        <label class="col-sm-3 control-label" for="card-number">Kort Nummer</label>
                        <div class="col-sm-9">
                            <input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"
                                   class="form-control" name="card-number" id="card-number" placeholder="Debit/Kredit kortnummer" pattern=".{16,16}"
                                   required title="Oppgi gyldig kortnummer">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="expiry-month">Utløpsdato </label>
                        <div class="col-sm-9">
                            <div class="row">
                                <div class="col-xs-3">
                                    <select class="form-control col-sm-2" name="expiry-month" id="expiry-month">
                                        <option value="01">Jan (01)</option>
                                        <option value="02">Feb (02)</option>
                                        <option value="03">Mar (03)</option>
                                        <option value="04">Apr (04)</option>
                                        <option value="05">Mai (05)</option>
                                        <option value="06">Juni (06)</option>
                                        <option value="07">Juli (07)</option>
                                        <option value="08">Aug (08)</option>
                                        <option value="09">Sep (09)</option>
                                        <option value="10">Okt (10)</option>
                                        <option value="11">Nov (11)</option>
                                        <option value="12">Des (12)</option>
                                    </select>
                                </div>
                                <div class="col-xs-3">
                                    <select class="form-control" name="expiry-year">
                                        <option value="17">2017</option>
                                        <option value="18">2018</option>
                                        <option value="19">2019</option>
                                        <option value="20">2020</option>
                                        <option value="21">2021</option>
                                        <option value="22">2022</option>
                                        <option value="23">2023</option>
                                        <option value="24">2024</option>
                                        <option value="25">2025</option>
                                        <option value="26">2026</option>
                                        <option value="27">2027</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="cvv">Kort CVV</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" name="cvv" id="cvv" placeholder="Sikkerhetskode"
                                   oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"
                                   pattern=".{3,3}" required title="Oppgi gyldig sikkerhetskode">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col col-md-9 "></div>
                        <div class="col col-md-1 col-xs-12">
                            <button id="avbrytBtn" type="button" class="btn btn-primary">Avbryt</button>
                        </div>
                        <div class="col col-md-2 col-xs-12">
                            <button id="godkjentBetaling" type="button" class="btn btn-success">Bekreft betaling</button>
                        </div>
                    </div>
                </div>
            </div>
        }

        </div>
</body>
</html>

